header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--header);
    z-index: 100;
}

.header-banner-container{
    width: 100%;
    padding: 0 20px;
    display: flex;
    background: var(--color-2);
}

.header-banner{
    margin: auto;
    width: 100%;
    height: 40px;
    max-width: var(--container-mx-width);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-banner > p,
.header-banner > a > p{
    font-size: 15px;
    color: var(--white);
    text-align: center;
}

.header-banner > a{
    color: var(--white);
}

/**/

.header-bottom-container{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
}

.header-bottom{
    margin: auto;
    width: 100%;
    max-width: var(--container-mx-width);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 40px;
}

.header-logo{
    width: auto;
    height: 50px;
    display: flex;
}

.header-logo img{
    width: auto;
    height: 100%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.menu-link{
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: var(--t-200ms);
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
}

.menu-link:hover{
    padding: 0 10px;
    border: 1px solid var(--color-1);
}

.menu-link.active{
    padding: 0 10px;
    background: var(--color-1);
}

.menu-link span,
.menu-link h2{
    color: var(--black-3);
    transition: var(--t-200ms);
}

.menu-link:hover h2,
.menu-link:hover span{
    color: var(--color-1);
}

.menu-link.active h2,
.menu-link.active span{
    color: var(--white);
}

.menu-link span{
    position: absolute;
    left: -34px;
    top: 50%;
    translate: 0 -50%;
}

.menu-link:hover span,
.menu-link.active span{
    left: 10px;
}

.menu-link:hover h2,
.menu-link.active h2{
    margin-left: 30px;
}

.menu-link-8{
    gap: 5px;
}

.menu-link-8:hover{
    padding: 0 10px;
    background: rgba(220 20 60 / 0.1);
    border: 1px solid var(--red);
}

.menu-link-8 span,
.menu-link-8 h2{
    color: var(--red);
}

.menu-link-8 span{
    position: unset;
    left: unset;
    top: unset;
    translate: unset;
}

.menu-link-8:hover span{
    color: var(--red);
}

.menu-link-8:hover h2{
    margin-left: unset;
    color: var(--red);
}

/**/

.submenu-container{
    position: fixed;
    left: 0;
    top: 106px;
    width: 100vw;
    padding: 20px;
    display: flex;
    background: var(--header);
    transition: var(--t-200ms);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.submenu-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;

    box-shadow: 0 2.5px 5px rgba(0 0 0 / 0.15);
}

.submenu{
    margin: auto;
    width: 100%;
    max-width: var(--container-mx-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.submenu-title{
    grid-column: 1/-1;
    font-size: 32px;
}

.submenu-target-title{
    font-size: 24px;
    margin-bottom: 10px;
}

.submenu ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* flex-direction: column; */
    gap: 5px;
}

.submenu ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--color-1);
    transition: var(--t-200ms);
}

.submenu ul li a:hover{
    background: var(--color-1);
}

.submenu ul li a h3{
    color: var(--text);
    transition: var(--t-200ms);
}

.submenu ul li a:hover h3{
    color: var(--white);
}

.submenu-target-3{
    display: flex;
}

.submenu-target-3 img{
    margin: auto;
    width: 50%;
}

.submenu ul li:nth-last-child(1) a{
    background: var(--color-1);
}

.submenu ul li:nth-last-child(1) a h3{
    color: var(--white);
}

.menu-button{
    display: none;
}

/**/

@media screen and (max-width: 600px){
    .header-banner{
        height: 50px;
    }
    .header-bottom-container{
        height: 70px;
    }
    .header-logo{
        height: 40px;
    }
    .menu-container{
        position: fixed;
        left: 0;
        top: 120px;
        width: 100%;
        height: calc(100vh - 106px);
        overflow-y: auto;
        background: var(--header);
    }
    .menu-container::-webkit-scrollbar{
        display: none;
    }
    .menu{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .menu > li{
        width: 100%;
    }
    .menu-link{
        width: 100%;
        height: 56px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        padding: 0 20px;
        border: 0;
        border-radius: 0;
    }
    .menu-link:hover{
        padding: 0 20px;
        border: 0;
        background: rgba(0 0 0 / 0.05);
    }
    .menu-link.active,
    .menu-link.active:hover,
    .menu-link.active:hover{
        padding: 0 20px;
        background: var(--color-1);
    }
    .menu-link:hover h2,
    .menu-link.active h2{
        margin-left: unset;
    }
    .menu-link span{
        position: unset;
        left: unset;
        top: unset;
        translate: 0 0;
    }
    .menu-link::before{
        content: '>';
        position: absolute;
        top: 50%;
        right: 20px;
        translate: 0 -50%;
        rotate: 90deg;
    }
    .submenu-container{
        position: unset;
        left: 0;
        top: 0;
        height: 0;
        padding: 0 20px;
        overflow: hidden;

        opacity: 1;
        pointer-events: unset;
        user-select: unset;
    }
    .submenu-container.active{
        height: auto;
        padding: 20px;
        interpolate-size: allow-keywords;
        box-shadow: none;
    }
    .submenu{
        display: flex;
        flex-direction: column;
    }
    .submenu-target-2 ul{
        display: flex;
        flex-wrap: wrap;
    }
    .menu-link-8{
        background: rgba(220 20 60 / 0.1);
    }
    .menu-link-8::before{
        display: none;
    }

    .menu-button{
        display: flex;
    }
}