.homepage-hero-container{
    width: 100%;
    /* padding: 0 20px; */
    /* height: calc(100vh - 106px);
    max-height: 560px; */
    background: orange;
}

.homepage-hero{
    margin: auto;
    width: 100%;
    /* height: 100%; */
    max-width: var(--container-mx-width);
    position: relative;
}

.homepage-hero-slider-container{
    width: 100%;
    /* height: 100%; */
    display: flex;
    overflow-x: scroll;
}

.homepage-hero-slider{
    width: 300%;
    height: 100%;
    display: flex;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
}

.homepage-hero-slider li{
    display: flex;
    width: 100%;
    height: 100%;
}

.homepage-hero-slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**/

.homepage-hero-slider-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;

    width: 56px;
    height: 56px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--t-100ms);

    background: var(--color-1);

    z-index: 1;
}

.homepage-hero-slider-button-left{
    left: 20px;
}

.homepage-hero-slider-button-right{
    right: 20px;
}

.homepage-hero-slider-button:hover{
    background: var(--color-2);
}

.homepage-hero-slider-button span{
    color: var(--white);
}

/**/

.homepage-beneficts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.homepage-benefict{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.homepage-benefict img{
    width: 44px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}